<div>
    <img src="../../assets/img/home.jpg" >
</div>
<h1>Présentation du projet</h1>
<div class="container">
    <div class="partie">

<div class="ponctu">

  <h2>La ponctualité</h2>
  <a href="ponctualite">
    <button>Cliquez ici pour pour voir la poncutalite de votre train</button>
  </a>
<p>Sur cette page, vous pourrez entrer vos gares de départ et d'arrivée pour visualiser la ponctualité de cette relation (si elle existe). D'un point de vue global,
  vous y trouverez le pourcentage de ponctualité, c'est-à-dire le pourcentage de trains qui ont moins de 6 minutes de retard, lié à chaque gare entrée ainsi que sur
  l'ensemble de la relation (si elle existe).</p>
</div>

<div class="intro">

  <h2>Présentation générale</h2>

  <div class="intro1">
    <p>
      Bienvenue sur InfrabelStats!
    </p>
    <p>
      Ce site a été conçu par trois jeunes développeurs en formation à Technofutur TIC:
    </p>
    <ul>
      <li>
        <span>Adriano Baffi</span> (formation en développement web orienté data analysis),
      </li>
      <li>
        <span>Bastien De Vos</span> (formation en BI and Big Data Consultant)
      </li>
      <li>
        et <span>Noémie Goosen</span> (formation en développement web orienté data analysis).
      </li>
    </ul>
    <p>
      Avec les open datas d'Infrabel,
      nous avons imaginé un site destiné aux usagers des trains, visant à leur donner une vision globale de la santé du trafic ferroviaire d'un point de vue de la ponctualité ainsi
      que des différents incidents survenant sur le réseau.De cette manière, nous espérons que les usagers puissent mieux visualiser la ponctualité de leur trajet et prévoir au mieux
      leur voyage.
    </p>
</div>
</div>

<div class="probleme">
  <h2>Les incidents</h2>
    <a href="probleme">
      <button>Cliquez ici pour pour voir les problèmes lié a votre train</button>
    </a>
<p>Sur cette page, vous pourrez entrer une gare et obtenir un aperçu des incidents survenant sur ou à proximité de l'arrêt sélectionné.
  Vous aurez une vision globale sur les incidents survenus lors d'une période d'un mois, ainsi que le retard engendré et le nombre de trains
  supprimés à cause de cet incident. Vous y trouverez également l'incident le plus récurrent, le plus récent, et la moyenne de retard liée à cette gare.</p>

    </div>
    </div>
</div>
