h1{
  text-align: center;
}
h3{
  font-size: 20px;
}
//////////////////// SEARCH FIELD ////////////////////////
.searchField{
  display: flex;
  flex-direction: column;
}
.station-search{
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
#station-input{
  justify-content: baseline;
  text-align: center;
}
#station-input input{
  text-align: center;
}
.station-search mat-form-field{
  width: 35%;
}
#station-button{
  justify-content: end;
  text-align: center;
}
.station-search button{
  width: 20%;
  height: 3em;
}
.station-search button p {
  font-size: 16px;
}
.date-picker{
  justify-content: end;
  padding: 10px 0;
  text-align: center;
}
//////////////////// RESULTS FIELD ////////////////////////
.results{
  display: flex;
  flex-direction: column;
}
#byStation{
  justify-content: baseline;
  display: flex;
  flex-wrap: wrap;
}
#average-delay{
  width: 40%;
  align-items: flex-start;
  text-align: center;
}
#monthly-incident-stats{ // <= graph is here
  width: 60%;
  align-items: flex-start;
  text-align: center;
}
#global-incident-stats{
  background-color: lightsalmon;
  width: 100%;
  align-items: flex-end;
}
.card{
  background-color: rgb(207, 207, 247);
  border-radius: 5px;
  padding: 10px;
  margin: 15px 20%;
  font-size: 20px;
  color: rgb(74, 82, 88);
  font-weight: bold;
  border-bottom: solid blue 5px;
}
.bold{
  font-weight: bold;
}
