<h1>Problèmes en gare</h1>

<div class="container">

  <div class="searchField">
    <div class="toastError" *ngIf="showError">
      <p>Veuillez sélectionner une gare</p>
    </div>

    <!-- Sélection de gare avec auto-complete -->
    <div class="station-search">
      <div id="station-input">
        <mat-form-field>
          <input type="text" placeholder="Gare" aria-label="Recherche" matInput [formControl]="departControl" [matAutocomplete]="auto1">

          <mat-autocomplete #auto1="matAutocomplete">
            <mat-option *ngFor="let option of filterredOption |async" [value]="option">
              {{ option | titlecase }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div id="station-button">
        <button mat-raised-button color="primary" (click)="getData()">
          <p>Lancer la recherche</p>
        </button>
      </div>
    </div>

    <!-- Sélection de date -->
    <div class="date-picker">
      <mat-form-field class="example-full-width" appearance="fill" (change)="getData()">
        <mat-label>Choisir une autre date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="todaysDate" (click)="picker.open()">
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <hr>

  <div class="results" *ngIf="showResult">
    <h2>La situation à {{ departControl.value | titlecase }}</h2>

    <div id="byStation">

      <article id="average-delay">
        <h3>À {{ departControl.value | titlecase }}, les trains ont en moyenne</h3>
        <section>
          <p>
            <span *ngIf="averageDelayArrivalInTime.hours > 0">{{averageDelayArrivalInTime.hours}} heures </span>
            {{averageDelayArrivalInTime.minutes}} minutes
            et {{averageDelayArrivalInTime.seconds}} secondes de retard à l'arrivée
          </p>
        </section>
        <section>
          <p>
            <span *ngIf="averageDelayDepartureInTime.hours > 0">{{averageDelayDepartureInTime.hours}} heures </span>
            {{averageDelayDepartureInTime.minutes}} minutes et
            {{averageDelayDepartureInTime.seconds}} secondes de retard au départ.
          </p>
        </section>
      </article>

      <article id="monthly-incident-stats">
        <p>
          Sur le dernier mois, il y a eu {{nbIncident}} incidents, engendrant {{nbRetardTotal}} secondes de retard cumulées et {{nbTrainsSuppTotal}} trains supprimés cumulés.
          => graph lignes sur l'évolution des nb d'incidents, nb de trains supprimés et retards sur le mois
        </p>

        <div>
          <ngx-charts-line-chart
            [results]="incidentGraph"
            [legend]="true"
            [xAxis]="true"
            [yAxis]="true"
          >
          </ngx-charts-line-chart>
        </div>
      </article>

      <article id="global-incident-stats">
        <section>
          <p>
            Le plus gros retard ce mois-ci était de {{plusGrosRetard}} secondes
            à cause de {{plusGrosIncident | lowercase}}
            et a provoqué la suppression de {{plusGrosTrainsSupp}} trains.
          </p>
        </section>

        <section>
          <p>
            L'incident le plus récent était {{latestIncident | lowercase}},
            ce qui a engendré {{latestDelay}} secondes de retard
            et {{latestTrainsSupp}} trains supprimés.
          </p>
        </section>

        <section>
          <p>
            graph donut avec les différents types d'incident à l'arrêt sélectionné / nb d'incidents => clic sur le type pour montrer le retard/trains supp par incident
          </p>
          <p>
            graph ligne types d'incident / retard et trains supp
          </p>
        </section>
      </article>

    </div>

    <div id="byRelation">
      <article>
        <p>
          Les relations dans lesquelles se trouve {{ departControl.value | titlecase }} ont en moyenne {{relationArrivalAverage}} secondes de retard à l'arrivée et {{relationDepartureAverage}} secondes de retard au départ.
        </p>
      </article>
      <article>
        <p>
          Les relations dans lesquelles se trouve {{ departControl.value | titlecase }} ont en moyenne x incidents, le plus récurrent étant x.
        </p>
      </article>
    </div>

  </div>

</div>

