h1{
  text-align: center;
}
h2{
  text-align: center;
  border: blue solid 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px;
}
h3{
  font-size: 20px;
}
//////////////////// SEARCH FIELD ////////////////////////
.searchField{
  display: flex;
  flex-direction: column;
}
.station-search{
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
#station-input{
  justify-content: baseline;
  text-align: center;
}
#station-input input{
  text-align: center;
}
.station-search mat-form-field{
  width: 35%;
}
#station-button{
  justify-content: end;
  text-align: center;
}
.station-search button{
  width: 20%;
  height: 3em;
}
.station-search button p {
  font-size: 16px;
}
.date-picker{
  justify-content: end;
  padding: 10px 0;
  text-align: center;
}
//////////////////// RESULTS FIELD ////////////////////////
.results{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 5px;
}
#byStation{
  justify-content: baseline;
  display: flex;
  flex-wrap: wrap;
}
#average-delay{
  width: 40%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#average-delay section{
  padding-top: 10%;
}
#monthly-incident-stats{ // <= graph is here
  width: 60%;
  align-items: flex-start;
  text-align: center;
}
.card{
  background-color: rgb(207, 207, 247);
  border-radius: 5px;
  padding: 10px;
  margin: 15px 20%;
  font-size: 20px;
  color: rgb(74, 82, 88);
  font-weight: bold;
  border-bottom: solid blue 5px;
}
.bold{
  font-weight: bold;
  color: blue;
}
h3{
  background-color: rgb(66, 66, 201);
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: 0 2%;
}
#global-incident-stats{
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(207, 207, 247);
  margin: 0 2%;
  border-radius: 10px;
  padding: 0 10px;
}
#global-incident-stats h3{
  width: 100%;
//   background-color: rgb(66, 66, 201);
//   color: white;
//   padding: 10px;
//   border-radius: 10px 10px 0 0;
}
#global-incident-stats section{
  width: 50%;
  text-align: center;
  margin: 2% 0;
}
#global1{
  justify-content: flex-start;
}
#global2{
  justify-content: flex-end;
}
#global-incident-stats div{
  height: 500px;
}
h4{
  border: blue solid 2px;
  border-radius: 5px;
  margin: 5px 5%;
  padding: 5px;
  color: rgb(74, 82, 88);
}
.toastError{
  text-align: center;
  background-color: rgb(255, 229, 229);
  padding: 10px 20px;
  position: fixed;
  border-radius: 10px;
  top: 30%;
  right: 30%;
  // box-shadow: 0 0 5px 5px rgb(207, 207, 207);
  border: solid red 2px;
}
