
h1{
    display: flex;
    justify-content: center;
    text-align: center;
}

h2{
  text-align: center;
  border: blue solid 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 10px;
}

h3{
  font-size: 20px;
  text-align: center;
  background-color: rgb(66, 66, 201);
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: 0 2%;
}

.Gare{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  width: 35%;
margin-left: 35%;
}


.résultat{
  display: flex;
  flex-direction: row;
}

.instant{
  flex-direction: row;
  margin-left: 35%;
}
.hautgauche{
  flex-direction: row;
  background-color: aliceblue;
  width: 30%;

}
.graph1{
  width: 70%;
  background-color: aliceblue;
}

.select {
  display: flex;
  flex-direction: row;
  margin-left: 150px;
}
.graph2{

}



