.container{
    display: flex;
  
}

.gare{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 25% ;
    
}

.recherche{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 35%;
    
}

h1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 25px auto;
}